/*config*/
::selection{background: #fe9e03;}

/*config navbar*/
.current a{color: #f9a200 !important;}
.current:before{background: #f9a200;}
.navbar-inverse .navbar-nav>li>a:hover{color: #f9a200;}
header .navbar-brand{padding-top: 17px;}

/*NOSSA MISSÃO*/
.focus-box .service-icon{padding: 15px;}
.service-icon .fa.fa-css3{font-size: 75px!important;color: #e96656!important;}
.service-icon .fa.fa-android{font-size: 90px!important;color: #34d293!important;}
.service-icon .fa.fa-users{font-size: 75px!important;color: #3ab0e2!important;}
.service-icon .fa.fa-television{font-size: 75px!important;padding-left: 7px;color: #f7d861!important;}

/*NOSSA EQUIPE*/
.section-header h6{color:#adadad;}
.team-member .member-details .position{color:#404040;}
.team-member figure img{-webkit-filter: grayscale(100%);}
.team-member figure img:hover{-webkit-filter: grayscale(0%);}

/*TECNOLOGIAS*/
.features .feature {
	text-align: center;
    border: 3px solid #ccc;
    background-color: rgba(205, 205, 205, 0.15);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 25px;
}
.features .feature .feature-icon{
	float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    min-height: 50px;
}
.features .feature .feature-icon img{}


@media (max-width: 767px){
	/*config tema*/
	.current a{color: #f9a200 !important}
	.current:before{background: #f9a200 !important}
	/*config navbar*/
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color: #b1b1b1;}
	.navbar-inverse .navbar-toggle{border-radius: 2px;}
	.navbar-inverse .navbar-toggle:hover{background-color: #f9a200;}
	.navbar-inverse .navbar-nav>li{display: block;}
	.navbar .navbar-nav > li{
		border-bottom: 1px solid #dadada;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 0px;
	}
	.navbar .navbar-nav > li > a{
		padding-top: 10px;
		padding-bottom: 10px;
		transition: all 0s;
	}
	.navbar .navbar-nav > li > a:hover{
		/*background-color: rgba(251, 156, 0, 0.4);*/
		box-shadow: inset 10px 0px 0px 0px rgb(254, 158, 1);
		color:#000;
		transition: all 0s;
	}
}